.task {
  display: grid;
  grid-template-columns: 1fr 17fr 1fr;
  background: var(--gray-500);
  padding: 1rem;
  gap: 0.5rem;
  align-items: start;
  color: var(--gray-100);
  border-radius: 0.25rem;
}

.task img {
  margin: 0px;
  background: transparent;
  border: 0;
}

.task p {
  color: var(--gray-100);
}

.task p s {
  color: var(--gray-300);
}

.task button {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
  border-radius: 2px;
  transition: 0.2s;
}

.task button:hover {
  color: var(--danger);
}

.radioCircle {
  color: var(--blue);
}

.radioCircle:hover {
  color: var(--blue-dark);
}

.radioChecked {
  color: var(--gray-100);
  border-radius: 50%;
  padding: 2px;
  background: var(--purple-dark);
}

.radioChecked:hover {
  background: var(--purple-darker);
}
